<apex:page sidebar="false" standardstylesheets="false" showheader="true" doctype="html-5.0" controller="skedRACController" title="Availability Management">
    
    <head>
        <meta charset="UTF-8" />
        <title>Availability Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--[if IE]&gt;--> <!--[if !IE]&gt; &lt;--> <!--&gt; &lt;![endif]-->
        
        <script src="{!URLFOR($Resource.svg4everybody)}"></script>
        <script>svg4everybody(); // run it now or whenever you are ready</script>
        
        <link rel="stylesheet" href="{!URLFOR($Resource.skedSFDC231, '/assets/styles/salesforce-lightning-design-system.min.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.skedRAC, '/dist/vendor/jquery-ui-custom/jquery-ui.min.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.skedRAC, '/dist/vendor/jquery-ui-custom/jquery-ui.theme.min.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.skedRAC, '/dist/vendor/toastr/toastr.min.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.skedRAC, '/dist/vendor/nsPopover.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.skedRAC, '/dist/styles/rac/datepicker.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.skedRAC, '/dist/styles/rac/main.css')}" />
        
        <style>
        .shifts-section ul.timeslot > li:hover {background-image: url({!URLFOR($Resource.skedSFDC231, '/assets/icons/utility/add_60.png')});}
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
        .toast {
            font-family: "Salesforce Sans", Arial, sans-serif;
        }
        #ui-datepicker-div { width: 250px; }

        #header-spacer {
            display: none;
        }
        .sticky-spacer {
            position: fixed;
            z-index: 3;
            top: 0;
            overflow: hidden;
            background: #fff;
            border-right: 1px solid #d8dde6;
            border-bottom: 1px solid #d8dde6;
        }
        #header-spacer.sticky-spacer {
            display: block;
        }
        #resource-availability-scroller-spacer-top {
            display: none;
        }
        #resource-availability-scroller-spacer-top.sticky-spacer {
            display: block;
        }
        #individual-header-spacer.sticky-spacer {
            border-left: 1px solid #d8dde6;
        }
        #resource-availability-header {
            display: block;
            position: fixed;
            top: -9999px;
            left: -9999px;
            right: 20px;
        }
        #resource-availability-header.sticky-header {
            display: block;
            position: fixed;
        }
        .sticky-header {
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        #individual-availability-header.sticky-header {
            background: #fff;
            border-bottom: 1px solid #d8dde6;
        }

        .sticky-header table {
            position: relative;
        }

        .sticky-header th {
            border-bottom: 1px solid #d8dde6;
        }

        .sticky-header th:nth-child(2) {
            border-left: 1px solid #d8dde6;
        }
        
        

       

        #individual-availability-header {
        }
        </style>
        
        <script type="text/javascript">
        
        function remote_getConfigData(callback) {
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.skedRACController.getConfigData}', callback, {escape: false});
        }
        
        function remote_getAvailabilityList(regionIds, timezoneSidId, selectedDateIso, callback) {
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.skedRACController.getAvailabilityList}', regionIds, timezoneSidId, selectedDateIso, callback, {escape: false});
        }
        
        function remote_saveShift(modelJson, callback) {
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.skedRACController.saveShift}', modelJson, callback);
        }
        
        function remote_saveReplication(modelJson, callback) {
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.skedRACController.saveReplication}', modelJson, callback);
        }    
        function remote_deleteShift(shiftId, callback) {
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.skedRACController.deleteShift}', shiftId, callback);
        }
        
        function remote_approveShift(shiftId, callback) {
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.skedRACController.approveShift}', shiftId, callback);
        }

        function remote_getResourceAvailabilities(resourceId, timezoneSidId, selectedDateIso, callback) {
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.skedRACController.getResourceAvailabilities}', resourceId, timezoneSidId, selectedDateIso, callback, {escape: false});
        }

        window.API = {
            
            getConfigData: function(callback) {
                remote_getConfigData(function(result, event) {
                    if (event.type == 'exception') {
                        alert(event.message);
                    }
                    if (event.status) {
                        callback(result);
                    }
                });
            },
            
            getAvailabilityList: function(regionIds, timezoneSidId, selectedDateIso, callback) {
                remote_getAvailabilityList(regionIds, timezoneSidId, selectedDateIso, function(result, event) {
                    if (event.type == 'exception') {
                        alert(event.message);
                    }
                    if (event.status) {
                        callback(result);
                    }
                });
            },
            
            saveShift: function(model, callback) {
                remote_saveShift(JSON.stringify(model), function(result, event) {
                    if (event.type == 'exception') {
                        alert(event.message);
                    }
                    if (event.status) {
                        callback(result);
                    }
                });
            },
            
            saveReplication: function(model, callback) {
                remote_saveReplication(JSON.stringify(model), function(result, event) {
                    if (event.type == 'exception') {
                        alert(event.message);
                    }
                    if (event.status) {
                        callback(result);
                    }
                });
            },
            
            deleteShift: function(shiftId, callback) {
                remote_deleteShift(shiftId, function(result, event) {
                    if (event.type == 'exception') {
                        alert(event.message);
                    }
                    if (event.status) {
                        callback(result);
                    }
                });
            },
            
            approveShift: function(shiftId, callback) {
                remote_approveShift(shiftId, function(result, event) {
                    if (event.type == 'exception') {
                        alert(event.message);
                    }
                    if (event.status) {
                        callback(result);
                    }
                });
            },

            getResourceAvailabilities: function(resourceId, timezoneSidId, selectedDateIso, callback) {
                remote_getResourceAvailabilities(resourceId, timezoneSidId, selectedDateIso, function(result, event) {
                    if (event.type == 'exception') {
                        alert(event.message);
                    }
                    if (event.status) {
                        callback(result);
                    }
                });
            }
            
        }
        
        </script>
    </head>
    
    <body style="overflow: hidden;">
        <div class="slds ng-cloak" ng-app="app" role="application" style="min-height: 1500px">
            <div ng-controller="MainCtrl">
                <!-- All Resources -->
                <section class="ManagementConsole" ng-show="individualView === false">
                    <h2 class="slds-text-heading--small slds-p-vertical--x-small slds-p-horizontal--large slds-theme--info" style="line-height:2.5; display:inherit;">
                        Resource Availability Console
                        <span class="slds-float--right slds-text-body--small slds-m-top--xx-small" ng-if="data.racSetting.respectResourceTimezone === false">
                            <div class="slds-form--inline">
                                <div class="slds-form-element" style="margin-right: 0;">
                                    <label class="slds-form-element__label" for="select-timezone" style="color:white;">Timezone</label>
                                    <div class="slds-select_container" style="display: inline-block;">
                                        <select id="select-timezone" class="slds-select" accesskey="1" 
                                                ng-options="item as item.label for item in data.timezoneList track by item.id" 
                                                ng-model="state.selectedTimezone" ng-change="handleChangeTimezone()">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </h2>
                    <div class="slds-m-top--small">
                        <div class="slds-grid">
                            <div class="slds-col slds-p-right--small slds-size_2-of-12">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label slds-hide" for="select-region">Region</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-combobox_container">
                                            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click"
                                                 ng-class="{'slds-combobox-picklist' : data.regionSetting.opened === false, 'slds-is-open' : data.regionSetting.opened === true}"
                                                 aria-expanded="{{data.regionSetting.opened}}" aria-haspopup="listbox" role="combobox" click-outside="data.regionSetting.opened = false;">
                                                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" 
                                                     ng-click="data.regionSetting.opened = !data.regionSetting.opened;">
                                                    <input type="text" class="slds-input slds-combobox__input" id="select-region" readonly="readonly"
                                                           aria-controls="region-options" autocomplete="off" role="textbox" placeholder="{{data.regionSetting.label}}" />
                                                    <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                                                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                            <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#down')}"></use>
                                                        </svg>
                                                        <span class="slds-assistive-text">Open dropdown</span>
                                                    </span>
                                                </div>
                                                <div id="region-options" role="listbox">
                                                    <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid slds-scrollable--y" role="presentation" style="height: 380px; max-height: none;">   
                                                        <li role="presentation" class="slds-listbox__item" ng-repeat="item in data.regionList" style="margin-left:0">
                                                            <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" 
                                                                  ng-class="{ 'slds-is-selected' : item.selected }" ng-click="handleSelectRegion(item)" role="option">
                                                                <span class="slds-media__figure">
                                                                    <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                                        <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#check')}"></use>
                                                                    </svg>
                                                                </span>
                                                                <span class="slds-media__body">
                                                                    <span class="slds-truncate" title="{{item.label}}"> {{item.label}}</span>
                                                                </span>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-p-right--small slds-size_2-of-12">
                                <div class="slds-form-element__control">
                                    <label class="slds-form-element__label slds-hide" for="search-provider">Provider</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-input-has-icon slds-input-has-icon--right">
                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>
                                            </svg>
                                            <input id="search-provider" class="slds-input" type="text" accesskey="2" 
                                                   ng-model="state.searchText" ng-model-options="{ debounce: 600 }" placeholder="Quick Search" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                <div class="slds-grid slds-align_absolute-center" ng-show="individualView === true">
                                    <ul class="view-switcher slds-button-group-list">
                                        <li>
                                            <button class="slds-button slds-button_brand">Individual Schedule</button>
                                        </li>
                                        <li>
                                            <button class="slds-button slds-button_neutral" ng-click="individualView = false;">All Resource</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                <div class="slds-form-element slds-float--right slds-m-right--x-small">
                                    <div class="slds-form-element__control" style="margin-top:-1px;">
                                        <button class="slds-button slds-button--icon-border" ng-click="handleUpdateDate(1)">
                                            <svg aria-hidden="true" class="slds-button__icon">
                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#chevronright')}"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Next</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-float--right slds-m-right--x-small">
                                    <div class="slds-form-element__control" style="margin-top:-1px;">
                                        <button class="slds-button slds-button--icon-border" ng-click="handleUpdateDate(-1)">
                                            <svg aria-hidden="true" class="slds-button__icon">
                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#chevronleft')}"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Previous</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-float--right slds-m-right--x-small">
                                    <div class="slds-form-element__control">
                                        <div class="slds-input-has-icon slds-input-has-icon--left">
                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#event')}"></use>
                                            </svg>
                                            <input ui-date="dateOptions" ng-model="state.selectedDate" class="slds-input" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_2-of-12">
                                <div class="slds-form--inline">
                                    <div class="slds-form-element slds-float--right" style="margin-right: 0;">
                                        <div class="slds-form-element__control">
                                            <label class="slds-form-element__label slds-hide" for="items-per-page">Records per page</label>
                                            <div class="slds-select_container" style="display: inline-block;">
                                                <select id="items-per-page" class="slds-select" accesskey="1" ng-options="item as item.label for item in data.pageSizeList track by item.id" ng-model="state.itemsPerPage">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-box slds-text-align--center slds-m-top--large" ng-show="state.availabilityList === null">
                            <span ng-show="state.selectedRegions.length === 0 && isFetching === false">Please select region.</span>
                            <span ng-show="state.selectedRegions.length > 0 && isFetching === true">Loading...</span> 
                            <span ng-show="state.selectedRegions.length > 0 && isFetching === false">No resources available.</span> 
                        </div>
                        <div class="slds-m-top--large" ng-show="state.availabilityList !== null">
                            <div>
                                <table id="table-resourse-availability" class="slds-table slds-no-row-hover event-table slds-text-body--small" style="border: none">
                                    <tr>
                                        <td style="position: relative; vertical-align: top; padding: 0;width: 300px; padding: 0; border-right: 1px solid #d8dde6;">
                                            <div style="width: 300px; max-width: 300px; overflow: hidden; position: relative; z-index: 2;">
                                                <div id="header-spacer" style="height: 49px; width: 300px;"></div>
                                                <table class="slds-table slds-table--bordered slds-no-row-hover event-table slds-text-body--small">
                                                    <thead>
                                                        <tr class="slds-text-heading--label" style="height: 48px;">
                                                            <th class="slds-text-align--center slds-cell-shrink" scope="col" style="min-width:300px;"></th>
                                                            <th class="slds-text-align--center" scope="col" width="4%" 
                                                                ng-class="{ 'is-weekend': item.isWeekend }"
                                                                ng-repeat="item in state.availabilityList.headers">
                                                                <div style="height: 30px; overflow: hidden;">
                                                                    <span class="weekday">{{item.weekday}}</span> <br /> {{item.dateString}}
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="slds-hint-parent" dir-paginate="resource in state.availabilityList.resources | filter:state.searchText | itemsPerPage: state.itemsPerPage.id" pagination-id="resourceList">
                                                            <td style="width: 300px; max-width: 300px; border-right: none;">
                                                                <div style="width: 300px; max-width: 300px;">
                                                                    <div class="slds-grid resource-info">
                                                                        <div class="slds-col" style="max-width:60px;">
                                                                            <span class="slds-avatar slds-avatar--large resource-photo">
                                                                                <img ng-src="{{resource.photoUrl ? resource.photoUrl : '{!URLFOR($Resource.skedSFDC231, '/assets/icons/standard/avatar_120.png')}'}}" />
                                                                            </span>
                                                                        </div>
                                                                        <div class="slds-col">
                                                                            <div class="resource-name">{{resource.name}}</div>
                                                                            <div class="resource-category">{{resource.category}}</div>
                                                                            <!-- <div class="resource-sub-category">{{resource.subCategory}}</div> -->
                                                                            <div class="resource-region">{{resource.regionName}}</div>
                                                                            <div class="resource-type {{resource.employmentType.toLowerCase()}}"></div>
                                                                            <a ng-click="openReplicateModal(resource)" class="replicate-availability">Replicate</a>
                                                                            <a ng-click="showIndividualResource(resource)" class="resource-period">View Period</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="slds-text-align--center" width="4%" style="padding: 0; position: relative;" valign="top" role="button" tabindex="0" ng-class="{ 'is-weekend': dateslot.isWeekend, 'is-holiday': dateslot.isHoliday }" ng-repeat="dateslot in resource.dateslots">
                                                                <div class="event-group">
                                                                    <div class="event-item" ng-repeat="shift in dateslot.shifts" ng-style="{'color': shift.color, 'border-color': shift.color, 'background-color': shift.backgroundColor}" ng-class="{'pending' : shift.status === 'Pending'}" ng-click="handleClickEvent(resource, dateslot, shift)">
                                                                        <span class="short-name slds-float--left">{{shift.shortName}}</span>
                                                                        <span class="time slds-float--right">{{shift.startTime | num2longtime}}-{{shift.finishTime | num2longtime}}</span>
                                                                    </div>
                                                                    <div class="action-add-event" ng-click="handleAddAvailability(resource, dateslot)">
                                                                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                                                                            <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#add')}"></use>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="height: 17px;"></div>
                                            </div>
                                        </td>
                                        <td style="position: relative; vertical-align: top; padding: 0; border-right: none; background: #fff;">
                                            <div id="resource-availability-scroller" style="position: absolute; width: 100%; height: 100%; overflow-x: auto; overflow-y: hidden; z-index: 1;">
                                                <div style="position: absolute; top: 0; left: -300px;">
                                                    <!-- <div id="resource-availability-scroller-spacer-top" style="height: 49px;"></div> -->
                                                    <div id="resource-availability-header">
                                                        <table class="slds-table slds-table--bordered slds-no-row-hover event-table slds-text-body--small" style="border-bottom: none; border-left: none;"
                                                        ng-style="{width: (300 + (state.dateSlotCount) * 141.6) + 'px'}">
                                                            <thead>
                                                                <tr class="slds-text-heading--label" style="height: 48px;">
                                                                    <th class="slds-text-align--center slds-cell-shrink" scope="col" style="min-width:300px;"></th>
                                                                    <th class="slds-text-align--center" scope="col" width="4%" 
                                                                        ng-class="{ 'is-weekend': item.isWeekend }"
                                                                        ng-repeat="item in state.availabilityList.headers"
                                                                        style="padding: 0;">
                                                                        <div style="width: 140px; min-width: 140px; height: 30px; overflow: hidden;">
                                                                            <span class="weekday">{{item.weekday}}</span> <br /> {{item.dateString}}
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <div>
                                                        <table class="slds-table slds-table--bordered slds-no-row-hover event-table slds-text-body--small" style="border-bottom: none; border-left: none;">
                                                            <thead>
                                                                <tr class="slds-text-heading--label" style="height: 48px;">
                                                                    <th class="slds-text-align--center slds-cell-shrink" scope="col" style="min-width:300px;"></th>
                                                                    <th class="slds-text-align--center" scope="col" width="4%" 
                                                                        ng-class="{ 'is-weekend': item.isWeekend }"
                                                                        ng-repeat="item in state.availabilityList.headers"
                                                                        style="padding: 0;">
                                                                        <div style="width: 140px; min-width: 140px; height: 30px; overflow: hidden;">
                                                                            <span class="weekday">{{item.weekday}}</span> <br /> {{item.dateString}}
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <table id="table-resource-availability-content" class="slds-table slds-table--bordered slds-no-row-hover event-table slds-text-body--small" style="border-top: none;"
                                                    >
                                                        <!-- <thead>
                                                            <tr class="slds-text-heading--label" style="height: 48px;">
                                                                <th class="slds-text-align--center slds-cell-shrink" scope="col" style="min-width:300px;"></th>
                                                                <th class="slds-text-align--center" scope="col" width="4%" 
                                                                    ng-class="{ 'is-weekend': item.isWeekend }"
                                                                    ng-repeat="item in state.availabilityList.headers">
                                                                    <div style="width: 140px; min-width: 140px;height: 30px; overflow: hidden;">
                                                                        <span class="weekday">{{item.weekday}}</span> <br /> {{item.dateString}}
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead> -->
                                                        <tbody>
                                                            <tr class="slds-hint-parent" dir-paginate="resource in state.availabilityList.resources | filter:state.searchText | itemsPerPage: state.itemsPerPage.id" pagination-id="resourceList">
                                                                <td style="width: 300px; max-width: 300px; border-right: none;">
                                                                    <div style="width: 300px; max-width: 300px;">
                                                                        <div class="slds-grid resource-info">
                                                                            <div class="slds-col" style="max-width:60px;">
                                                                                <span class="slds-avatar slds-avatar--large resource-photo">
                                                                                    <img ng-src="{{resource.photoUrl ? resource.photoUrl : '{!URLFOR($Resource.skedSFDC231, '/assets/icons/standard/avatar_120.png')}'}}" />
                                                                                </span>
                                                                            </div>
                                                                            <div class="slds-col">
                                                                                <div class="resource-name">{{resource.name}}</div>
                                                                                <div class="resource-category">{{resource.category}}</div>
                                                                                <!-- <div class="resource-sub-category">{{resource.subCategory}}</div> -->
                                                                                <div class="resource-region">{{resource.regionName}}</div>
                                                                                <div class="resource-type {{resource.employmentType.toLowerCase()}}"></div>
                                                                                <a ng-click="openReplicateModal(resource)" class="replicate-availability">Replicate</a>
                                                                                <a ng-click="showIndividualResource(resource)" class="resource-period">View Period</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="slds-text-align--center" width="4%" style="padding: 0; position: relative;" valign="top" role="button" tabindex="0" ng-class="{ 'is-weekend': dateslot.isWeekend, 'is-holiday': dateslot.isHoliday }" ng-repeat="dateslot in resource.dateslots">
                                                                    <div class="event-group" style="width: 140px; min-width: 140px;">
                                                                        <div class="event-item" ng-repeat="shift in dateslot.shifts" ng-style="{'color': shift.color, 'border-color': shift.color, 'background-color': shift.backgroundColor}" ng-class="{'pending' : shift.status === 'Pending'}" ng-click="handleClickEvent(resource, dateslot, shift)">
                                                                            <span class="short-name slds-float--left">{{shift.shortName}}</span>
                                                                            <span class="time slds-float--right">{{shift.startTime | num2longtime}}-{{shift.finishTime | num2longtime}}</span>
                                                                        </div>
                                                                        <div class="action-add-event" ng-click="handleAddAvailability(resource, dateslot)">
                                                                            <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                                                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#add')}"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pagination slds-m-top--large">
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="resourceList"></dir-pagination-controls>
                    </div>
                </section>

                <!-- Individual Resource -->
                <section class="ManagementConsole" ng-show="individualView === true">
                    <h2 class="slds-text-heading--small slds-p-vertical--x-small slds-p-horizontal--large slds-theme--info" style="line-height:2.5; display:inherit;">
                        Practitioner Availability Console 
                        <span class="slds-float--right slds-text-body--small slds-m-top--xx-small" ng-if="data.racSetting.respectResourceTimezone === false">
                            <div class="slds-form--inline">
                                <div class="slds-form-element" style="margin-right: 0;">
                                    <label class="slds-form-element__label" for="select-timezone" style="color:white;">Timezone</label>
                                    <div class="slds-select_container" style="display: inline-block;">
                                        <select id="select-timezone" class="slds-select" accesskey="1" 
                                                ng-options="item as item.label for item in data.timezoneList track by item.id" 
                                                ng-model="state.selectedTimezone" ng-change="handleChangeTimezone()">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </h2>
                    <div class="slds-m-top--small">
                        <div class="slds-grid">
                            <div class="slds-col slds-p-right--small slds-size_2-of-12">
                                
                            </div>
                            <div class="slds-col slds-p-right--small slds-size_2-of-12">
                                
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                <div class="slds-grid slds-align_absolute-center" >
                                    <ul class="view-switcher slds-button-group-list">
                                        <li>
                                            <button class="slds-button slds-button_brand">Individual Schedule</button>
                                        </li>
                                        <li>
                                            <button class="slds-button slds-button_neutral" ng-click="showAllResources()">All Resource</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slds-col slds-size_2-of-12">
                                
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                <div class="slds-form-element slds-float--right slds-m-right--x-small">
                                    <div class="slds-form-element__control" style="margin-top:-1px;">
                                        <button class="slds-button slds-button--icon-border" ng-click="handleUpdateDate(1)">
                                            <svg aria-hidden="true" class="slds-button__icon">
                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#chevronright')}"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Next</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-float--right slds-m-right--x-small">
                                    <div class="slds-form-element__control" style="margin-top:-1px;">
                                        <button class="slds-button slds-button--icon-border" ng-click="handleUpdateDate(-1)">
                                            <svg aria-hidden="true" class="slds-button__icon">
                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#chevronleft')}"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Previous</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-float--right slds-m-right--x-small">
                                    <div class="slds-form-element__control">
                                        <div class="slds-input-has-icon slds-input-has-icon--left">
                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#event')}"></use>
                                            </svg>
                                            <input ui-date="dateOptions" ng-model="state.selectedDate" class="slds-input" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slds-box slds-text-align--center slds-m-top--large" ng-show="state.resource === null">
                            <span ng-show="isFetching === false">There is no resource available.</span>
                            <span ng-show="isFetching === true">Loading...</span> 
                        </div>

                        <div class="slds-m-top--large" ng-show="state.resource !== null">
                            <div>
                                <table id="table-individual-availability" class="slds-table slds-no-row-hover event-table slds-text-body--small" style="border: none">
                                    <tr>
                                        <td style="width: 300px; padding: 0; border-right: 1px solid #d8dde6;">
                                            <div id="individual-header-spacer" style="width: 300px; min-width: 300px;">
                                                <div class="slds-grid resource-info">
                                                    <div class="slds-col" style="max-width:60px;">
                                                        <span class="slds-avatar slds-avatar--large resource-photo">
                                                            <img ng-src="{{state.resource.photoUrl ? state.resource.photoUrl : '{!URLFOR($Resource.skedSFDC231, '/assets/icons/standard/avatar_120.png')}'}}" />
                                                        </span>
                                                    </div>
                                                    <div class="slds-col">
                                                        <div class="resource-name">{{state.resource.name}}</div>
                                                        <div class="resource-category">{{state.resource.category}}</div>
                                                        <div class="resource-sub-category">{{state.resource.subCategory}}</div>
                                                        <div class="resource-region">{{state.resource.regionName}}</div>
                                                        <div class="resource-type {{state.resource.employmentType.toLowerCase()}}" style="top: 8px;right: 16px"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="width: 300px; min-width: 300px;">
                                                <table class="slds-table slds-table--bordered slds-no-row-hover event-table slds-text-body--small"
                                                    style="border: none;">
                                                    <tbody>
                                                        <tr class="slds-hint-parent">
                                                            <td class="timeslots-section slds-text-body--small">
                                                                <ul>
                                                                    <li ng-style="{height: calendarConstant.gridHeight}" ng-repeat="timeslot in state.timeslots">{{timeslot.name}}</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="height: 17px;"></div>
                                            </div>
                                        </td>
                                        <td style="padding: 0; vertical-align: top; border-right: none;">
                                            <div id="individual-availability-scroller" style="position: absolute; width: 100%; height: 100%; overflow-x: auto; overflow-y: hidden; z-index: 1;">
                                                <div style="position: absolute; top: 0; 0px;">
                                                    <!-- <div id="individual-header-spacer2" style="height: 70px;"></div> -->
                                                    <div id="individual-availability-header" ng-style="{width: 120 * state.dateSlotCount + 'px'}">
                                                        <table class="slds-text-body--small table-event-heading" style="_max-width: 1680px; height: 70px;">
                                                            <tr>
                                                                <td class="slds-text-align--center" ng-class="{ 'is-weekend': item.isWeekend}" ng-style="{width: calendarConstant.gridWidth}" style="" ng-repeat="item in state.resource.headers">
                                                                    <span class="weekday">{{item.weekday}}</span> <br /> {{item.dateString}}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div>
                                                        <table id="table-individual-availability-content">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="shifts-section slds-text-body--small">
                                                                        <ul class="dayslot">
                                                                            <li ng-class="{ 'is-weekend': dateslot.isWeekend, 'is-holiday': dateslot.isHoliday }" ng-style="{width: calendarConstant.gridWidth}" ng-repeat="dateslot in state.resource.dateslots">
                                                                                <ul class="timeslot">
                                                                                    <li ng-repeat="timeslot in state.timeslots" ng-style="{width: '120px', height: calendarConstant.gridHeight}" ng-click="handleAddAvailability(state.selectedResource, dateslot)"></li>
                                                                                </ul>
                                                                                
                                                                                <div class="availability-area" ng-repeat="availability in dateslot.calendar.availabilities" ng-style="{color: availability.color, 'background-color': availability.backgroundColor, height: availability.h + 'px', top: availability.y + 'px', border: 'solid 1px ' + availability.color}" ng-click="handleClickEvent(state.selectedResource, dateslot, availability.data)">
                                                                                    <div class="short-name-info">{{availability.data.shortName}}</div>
                                                                                    <div class="time-info">{{availability.data.startTime | num2longtime}}-{{availability.data.finishTime | num2longtime}}</div>
                                                                                    <button class="slds-button slds-button_icon refresh-button" title="Refresh">
                                                                                        <svg class="slds-button__icon" aria-hidden="true" ng-style="{fill: availability.color}">
                                                                                            <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#refresh')}"></use>
                                                                                        </svg>
                                                                                    <span class="slds-assistive-text">Refresh</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="shift-container" ng-repeat="shift in dateslot.calendar.shifts" ng-style="{height: shift.h + 'px', top: shift.y + 'px', left: shift.x + '%', width: shift.w + '%'}" ng-class="{'travel-time--oor': shift.travelBeforeGrid, 'start-time--oor': shift.startBeforeGrid, 'end-time--oor': shift.endAfterGrid}" >
                                                                                    <div class="shift-box" ng-style="{'background-color': shift.backgroundColor, height: shift.b + 'px', border: 'solid 1px ' + shift.color, color: shift.color}" ng-class="{'shift-box--small': shift.b <= 8}">
                                                                                        <div style="padding: 4px" ng-style="{'border-bottom': 'solid 1px ' + shift.color}">
                                                                                            <div style="display: table;width: 100%">
                                                                                                <div style="display: table-cell;">{{shift.data.name}}</div>
                                                                                                <div style="display: none;text-align: right;">01177</div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div style="padding: 4px">
                                                                                            <div class="slds-truncate" ng-if="shift.data.objectType === 'job'">{{shift.data.accountName}}</div>
                                                                                            <div class="slds-truncate" ng-if="shift.data.objectType === 'activity'">{{shift.data.shiftType}}</div>
                                                                                            <div style="text-transform: uppercase;">{{shift.data.startTime | num2longtime}}-{{shift.data.finishTime | num2longtime}}</div>
                                                                                            <div>{{shift.data.durationText}}</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>  
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section aria-hidden="true" style="background: rgba(126,140,153,0.8);" role="dialog" class="slds-modal slds-modal--large slds-fade-in-open slds-hide" slds-modal="creationModalVisible" on-hide="closeCreationModal">
                    <div class="slds-modal__container" style="width:880px;">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button--icon-inverse slds-modal__close" data-aljs-dismiss="modal" tabindex="0">
                                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                                    <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="header43" class="slds-text-heading--medium">
                                <span ng-if="state.creationModel.id === null">Creation: </span><span ng-if="state.creationModel.id !== null">Update: </span><span>{{state.creationModel.resource.name}}</span> - <span>{{state.creationModel.dateslot.dateString}}</span>
                            </h2>
                        </header>
                        <div class="slds-modal__content slds-p-around--medium">
                            <div class="error-messages slds-m-bottom--small" ng-if="state.errorMessages.length > 0">
                                <div class="slds-box slds-theme--shade slds-theme--alert-texture slds-clearfix" style="padding: 5px 10px 0; border: none; background-color: #FFEEEE;">
                                    <span class="slds-badge slds-theme--default" style="float: left; margin-left: 0; margin-bottom: 5px; margin-right: 8px; white-space: pre-wrap;" ng-repeat="item in state.errorMessages">{{item}}</span>
                                </div>
                            </div>
                            <div class="slds-p-top--small">
                                <div class="slds-tabs--scoped slds-m-bottom--large" ng-show="state.creationModel.id === null && data.racSetting.enableActivity === true">
                                    <ul class="slds-tabs--scoped__nav" role="tablist">
                                        <li class="slds-tabs--scoped__item slds-text-heading--label" ng-class="{ 'slds-active': !state.creationModel.isActivity }" title="Availability" role="presentation">
                                            <a class="slds-tabs--scoped__link" href="javascript:void(0)" ng-click="state.creationModel.isActivity = false">Availability</a>
                                      </li>
                                      <li class="slds-tabs--scoped__item slds-text-heading--label" ng-class="{ 'slds-active': state.creationModel.isActivity }" title="Activity" role="presentation">
                                            <a class="slds-tabs--scoped__link" href="javascript:void(0)" ng-click="state.creationModel.isActivity = true">Activity</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slds-p-bottom--medium" ng-if="state.creationModel.hasAllocation === true">
                                    <div class="slds-p-around--xxx-small slds-text-align--left">
                                        <abbr class="slds-required" title="required">* You are trying to amend an availability for a time period where resource is already assigned to it.</abbr> 
                                    </div>
                                </div>
                                <div class="slds-grid">
                                    <div class="slds-col slds-p-right--medium slds-size_4-of-12">
                                        <div class="slds-form-element required" ng-show="state.creationModel.isActivity === false">
                                            <label class="slds-form-element__label" for="cbbAvailabilityType">Availability Type</label>
                                            <div class="slds-select_container">
                                                <select id="cbbAvailabilityType" class="slds-select" accesskey="1" ng-model="state.creationModel.availabilityType" 
                                                            ng-options="item as item.label for item in data.shiftTypes track by item.id"></select>
                                            </div>
                                        </div>
                                        <div class="slds-form-element required" ng-show="state.creationModel.isActivity === true">
                                            <label class="slds-form-element__label" for="cbbActivityType">Activity Type</label>
                                            <div class="slds-select_container">
                                                <select id="cbbActivityType" class="slds-select" accesskey="1" ng-model="state.creationModel.activityType" 
                                                            ng-options="item as item.label for item in data.activityTypes track by item.id"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-p-right--small slds-size_4-of-12">
                                        <div class="slds-form-element required start-time-container">
                                            <label class="slds-form-element__label" for="cbbStartTime">Start Time</label>
                                            <div class="slds-select_container">
                                                <select id="cbbStartTime" class="slds-select" accesskey="1" ng-model="state.creationModel.startTime" 
                                                            ng-options="item as item.label for item in data.timeOptions track by item.id"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-p-right--small slds-size_4-of-12">
                                        <div class="slds-form-element required">
                                            <label class="slds-form-element__label" for="cbbEndTime">End Time</label>
                                            <div class="slds-select_container">
                                                <select id="cbbEndTime" class="slds-select" accesskey="1" ng-model="state.creationModel.endTime" 
                                                            ng-options="item as item.label for item in data.timeOptions track by item.id"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-grid slds-m-top--large" ng-show="state.creationModel.isActivity === true">
                                    <div class="slds-col">
                                        <div class="slds-form-element required">
                                            <label class="slds-form-element__label" for="activity-address">Address</label>
                                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                                                    <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#checkin')}"></use>
                                                </svg>
                                                <input id="activity-address" class="slds-input" type="text" ng-model="state.creationModel.address.value" placeholder="Enter address" autocomplete-single="getAddressSuggestions" on-change="changeAddress"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-grid slds-m-top--large slds-p-bottom--large" ng-class="{'slds-has-divider--bottom' : state.creationModel.recurring}" ng-if="state.creationModel.id === null">
                                    <div class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                                <input type="checkbox" name="options" id="chkRecurring" ng-model="state.creationModel.recurring" />
                                                <label class="slds-checkbox__label" for="chkRecurring">
                                                    <span class="slds-checkbox_faux"></span>
                                                    <span class="slds-form-element__label">Recurring?</span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-p-around--large" ng-show="state.creationModel.recurring">
                                    <div class="slds-grid slds-grid_vertical-align-center">
                                        <div class="slds-col slds-size_3-of-12">
                                            <div class="slds-form-element">
                                                <div class="slds-form-element__control">
                                                    <span class="slds-checkbox">
                                                        <input type="checkbox" name="options" id="chkSkipWeekends" ng-model="state.creationModel.skipWeekends" ng-change="handleChangePattern()" />
                                                        <label class="slds-checkbox__label" for="chkSkipWeekends">
                                                            <span class="slds-checkbox_faux"></span>
                                                            <span class="slds-form-element__label">Skip Weekend?</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-size_3-of-12">
                                            <div class="slds-form-element">
                                                <div class="slds-form-element__control">
                                                    <span class="slds-checkbox">
                                                        <input type="checkbox" name="options" id="chkSkipHolidays" ng-model="state.creationModel.skipHolidays" />
                                                        <label class="slds-checkbox__label" for="chkSkipHolidays">
                                                            <span class="slds-checkbox_faux"></span>
                                                            <span class="slds-form-element__label">Skip Holidays?</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-size_3-of-12">
                                            <div class="slds-form-element">
                                                <label class="slds-form-element__label" for="cbbPattern">Pattern</label>
                                                <div class="slds-select_container">
                                                    <select id="cbbPattern" class="slds-select" accesskey="1" ng-model="state.creationModel.pattern" 
                                                            ng-options="item as item.label for item in data.patternList track by item.id" ng-change="handleChangePattern()"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-size_3-of-12">
                                            
                                        </div>
                                    </div>
                                    <div class="slds-grid slds-m-top--large">
                                        <div class="slds-col" ng-repeat="(pwIndex, patternWeek) in state.creationModel.patternWeeks">
                                            <fieldset class="slds-form-element">
                                                <legend class="slds-form-element__legend slds-form-element__label" style="font-weight:normal;">
                                                    <abbr class="slds-required" title="required">*</abbr>{{state.creationModel.patternWeeks.length == 1 ? 'Days of Week' : 'Week ' + (pwIndex + 1)}}</legend>
                                                <div class="slds-form-element__control">
                                                    <div class="slds-checkbox_button-group">
                                                        <span class="slds-button slds-checkbox_button" ng-repeat="weekday in patternWeek">
                                                            <input type="checkbox" id="week{{pwIndex + 1}}{{weekday.id}}" name="checkbox" ng-model="weekday.selected" />
                                                            <label class="slds-checkbox_button__label" for="week{{pwIndex + 1}}{{weekday.id}}">
                                                                <span class="slds-checkbox_faux">{{weekday.label}}</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="slds-grid slds-m-top--large">
                                        <div class="slds-col slds-size_4-of-12">
                                            <div class="slds-form-element">
                                                <label class="slds-form-element__label" for="cbbRecur">Recur For</label>
                                                <div class="slds-select_container">
                                                    <select id="cbbRecur" class="slds-select" accesskey="1" ng-model="state.creationModel.recurWeeks" 
                                                            ng-options="item as item.label for item in data.recurList track by item.id"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-size_4-of-12"></div>
                                        <div class="slds-col slds-size_4-of-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button--neutral" data-aljs-dismiss="modal" tabindex="0">Cancel</button>
                            <button class="slds-button slds-button--destructive" ng-if="state.creationModel.id !== null" ng-click="handleDeleteShift()" tabindex="0">Remove</button>
                            <button class="slds-button slds-button--neutral slds-button--brand" ng-if="state.creationModel.isActivity === false && state.creationModel.status === 'Pending'" ng-click="handleApproveShift()" tabindex="0">Approve</button>
                            <button class="slds-button slds-button--neutral slds-button--brand" ng-click="handleSaveShift()" data-focus-last="" tabindex="0">Save</button>
                        </footer>
                    </div>
                </section>

                <section aria-hidden="true" style="background: rgba(126,140,153,0.8);" role="dialog" class="slds-modal slds-modal--large slds-fade-in-open slds-hide" slds-modal="replicateModalVisible" on-hide="closeReplicateModal">
                    <div class="slds-modal__container" style="width:880px;">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button--icon-inverse slds-modal__close" data-aljs-dismiss="modal" tabindex="0">
                                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                                    <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="header43" class="slds-text-heading--medium">
                                <span>Availability Replication</span>
                            </h2>
                        </header>
                        <div class="slds-modal__content slds-p-around--medium">
                            <div class="error-messages slds-m-bottom--small" ng-if="state.errorMessages.length > 0">
                                <div class="slds-box slds-theme--shade slds-theme--alert-texture slds-clearfix" style="padding: 5px 10px 0; border: none; background-color: #FFEEEE;">
                                    <span class="slds-badge slds-theme--default" style="float: left; margin-left: 0; margin-bottom: 5px; margin-right: 8px; white-space: pre-wrap;" ng-repeat="item in state.errorMessages">{{item}}</span>
                                </div>
                            </div>
                            <div class="slds-form slds-form_compound slds-p-top--small">
                                <div class="slds-grid">
                                    <fieldset class="slds-form-element">
                                        <legend class="slds-form-element__label slds-text-title_caps">Source Period</legend>
                                        <div class="slds-form-element__group">
                                            <div class="slds-form-element__row">
                                            <!-- <div class="slds-col slds-p-right--small"> -->
                                                <div class="slds-form-element slds-size_1-of-2">
                                                    <label class="slds-form-element__label">From Date</label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-input-has-icon slds-input-has-icon--left">
                                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#event')}"></use>
                                                            </svg>
                                                            <input id="replicateSourceFrom" ui-date="replicateSourceFromDateOptions" ng-model="state.replicateModel.sourceFrom" class="slds-input" type="text" ng-change="replicateSourceChange()"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- </div> -->
                                            <!-- <div class="slds-col slds-p-right--small"> -->
                                                <div class="slds-form-element slds-size_1-of-2">
                                                    <label class="slds-form-element__label">To Date</label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-input-has-icon slds-input-has-icon--left">
                                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#event')}"></use>
                                                            </svg>
                                                            <input id="replicateSourceTo" ui-date="replicateSourceToDateOptions" ng-model="state.replicateModel.sourceTo" class="slds-input" type="text" ng-change="replicateSourceChange()"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- </div> -->
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="slds-grid slds-p-top--medium">
                                     <fieldset class="slds-form-element">
                                        <legend class="slds-form-element__label slds-text-title_caps">Replication Period</legend>
                                        <div class="slds-form-element__group">
                                            <div class="slds-form-element__row">
                                            <!-- <div class="slds-col slds-p-right--small"> -->
                                                <div class="slds-form-element slds-size_1-of-2">
                                                    <label class="slds-form-element__label">From Date</label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-input-has-icon slds-input-has-icon--left">
                                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#event')}"></use>
                                                            </svg>
                                                            <input id="replicateDestinationFrom" ui-date="replicateDestinationFromDateOptions" ng-model="state.replicateModel.destinationFrom" class="slds-input" type="text" ng-change="replicateDestinationFromChange()"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- </div> -->
                                            <!-- <div class="slds-col slds-p-right--small"> -->
                                                <div class="slds-form-element slds-size_1-of-2">
                                                    <label class="slds-form-element__label">To Date</label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-input-has-icon slds-input-has-icon--left">
                                                            <svg aria-hidden="true" class="slds-input__icon input-text-default">
                                                                <use href="{!URLFOR($Resource.skedSFDC231, '/assets/icons/utility-sprite/svg/symbols.svg#event')}"></use>
                                                            </svg>
                                                            <input id="replicateDestinationTo" ui-date="replicateDestinationToDateOptions" ng-model="state.replicateModel.destinationTo" class="slds-input" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- </div> -->
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="slds-form-element slds-float--left">
                                <div class="slds-form-element__control">
                                    <label class="slds-checkbox" for="checkbox-override">
                                        <input type="checkbox" name="options" id="checkbox-override" ng-model="state.replicateModel.canOverride" />
                                        <span class="slds-checkbox--faux"></span>
                                        <span class="slds-form-element__label">Replace existing shifts for this time period?</span>
                                    </label>
                                </div>
                            </div>
                            <button class="slds-button slds-button--neutral" data-aljs-dismiss="modal" tabindex="0">Cancel</button>
                            <button class="slds-button slds-button--neutral slds-button--brand" ng-click="handleSaveReplication()" data-focus-last="" tabindex="0">Save</button>
                        </footer>
                    </div>
                </section>
                
                <!-- modal backdrop container -->
                <!-- <div class="aljs-modal-container"></div> -->
                <div class="actions-backdrop dark" ng-class="{ 'active' : isFetching }" style="z-index: 10000">
                    <div role="status" class="slds-spinner slds-spinner_large">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
        window.ASSET_PATH = "{!URLFOR($Resource.skedSFDC231, '/')}";
        window.DIST_PATH = "{!URLFOR($Resource.skedRAC, '/')}";
        </script>
        
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/jquery.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/lodash.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/moment.min.js')}">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.4.1/moment-timezone-with-data-2010-2020.min.js">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/jquery-ui-custom/jquery-ui.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/toastr/toastr.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/jquery.aljs-init.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/jquery.aljs-modal.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/angular.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/angular-aria.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/angular-sanitize.min.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/vendor/date.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/scripts/helpers.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/scripts/directives/uiDirs.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/scripts/directives/pagination.js')}">
        </script>
        <script src="{!URLFOR($Resource.skedRAC, '/dist/scripts/directives/clickoutside.directive.js')}">
        </script>
        
        <script>
        (function(window, angular, helpers, moment) {
            var app = angular.module('app', ['ngSanitize', 'ngAria', 'dirPagination', 'uiDirs', 'main', 'ui.date', 'angular-click-outside'])
            
            app.config(['paginationTemplateProvider', function(paginationTemplateProvider) {
                paginationTemplateProvider.setPath(window.DIST_PATH + 'dist/templates/' + 'dirPagination.tpl.html')
            }])
            
            app.filter('num2time', function () {
                return function (input) {
                    return helpers.timeNumFormat(input, 'ha');
                }
            })

            app.filter('num2longtime', function () {
                return function (input) {
                    var timeStr = helpers.timeNumFormat(input, 'h:mma');
                    timeStr = timeStr.replace(':00', '');
                    return timeStr;
                }
            })
            
            app.filter('shorterDate', function () {
                return function (input) {
                    return moment(input, 'DD/MM/YYYY').format('D/M/YY');
                }
            })
            
            app.run(['$rootScope', function($rootScope) {
                $rootScope.getTemplateUrl = function(name) {
                    return window.DIST_PATH + 'dist/templates/' + name
                }
                
                $rootScope.getIconUrl = function(name, group) {
                    if (!group) group = 'utility'
                    return window.ASSET_PATH + 'assets/icons/' + group + '-sprite/svg/' + name
                }
            }])
        })(window, angular, helpers, moment);
        
        </script>
        
        <c:skedRAC_MainModule />
        
    </body>
    
</apex:page>